.section {
	& .title {
		transition: .5s all ease;
		
		&.sticky {
			position: fixed;
			top: 50px;
			width: 100%;
			height: 40px;
			background: rgb(100, 141, 230);
			font-size: 20px;
			z-index: 999;
		}
		
		&.inline {
			position: absolute;
			width: 100%;
			background: rgb(100, 141, 230, 0);
			font-size: 30px;
			height: 60px;
		}
	}

	& .content {
		padding-top: 60px;
	}
}