* {
  margin: 0;
  padding: 0;
}

.mainTitle {
  position: fixed;
  background: #2d5dfd;
  color: white;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 999;

  & h1,
  & .shield {
    position: absolute;
    top: 50%;

    &.npm {
      right: 50%;
      transform: translateX(-200px) translateY(-50%);
    }

    &.github {
      left: 50%;
      transform: translateX(200px) translateY(-50%);
    }
  }

  & h1 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.content {
  margin-top: 50px;
}